.env
__pycache__/
*.py[cod]
backend/uploads/*
backend/artifacts/*
backend/traces/*
backend/app.db
frontend/dist/
frontend/node_modules/
d208124fbd9a43fdbd0cce3c04828e96_Lionel_Owono_-_AI_Architect_Resume_bea5d074076c42a78e2f8ad21e7680ab.json
d208124fbd9a43fdbd0cce3c04828e96_Lionel_Owono_-_AI_Architect_Resume_cb96b22775974bacb07f93f13372383f.md
